.remove-links-and-scripts {
	margin: 15px 0 15px 0;
}
.remove-links-and-scripts caption {
	border-left: solid 4px #00a0d2;
	margin: 0 0 5px 0;
	padding: 3px 0 3px 7px;
	text-align: left;
}
.remove-links-and-scripts td {
	padding-left: 75px;
}
.remove-links-and-scripts input[type="checkbox"] {
	margin: 0 5px 0 0;
}